# Python/Django
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
*.log
local_settings.py
.db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs/Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
